Table {
	font-size: 12px;
	line-height: 150%;
}
.Title{	
	background-color: #f2f6f9;
	color: #3a70a6;
	font: bold 11px dotum;
}

/* 12픽셀 , 100%, 세로라인 없음, 게시판 목록 및 시험대행 목록 적용 */
.Atype {
	border-top: 2px solid;
	border-color: #c3cad9;
	width: 100%;
	text-align: center;
	margin-bottom: 20px; /* 시험목록의 하단 여백 */
}
.Atype TD{
	padding: 5px, 15px, 5x, 15px;
	border-bottom: 0px solid #c3cad9;
}

/* 12픽셀 , 센터 정렬,  FAQ 적용 */
.Btype {
	border-top: 2px solid;
	border-color: #c3cad9;
	width: 100%;
}
.Btype TD{
	padding: 5px, 2px, 5x, 2px;
	border-bottom: 1px solid #c3cad9;
	border-left: 0px solid #c3cad9;
	text-align: center;
}
.Btype #Tleft{	
	border-left: 0px;
}
.Btype .Q{
	padding: 5px, 30px, 5px, 30px;
	LIST-STYLE-POSITION: inside;
	LIST-STYLE-IMAGE: url(../images/list_q.gif);
	border-left: 0px;
}
.Btype .A{
	background-color: #f2f6f9;
	color: #3a70a6;
	padding: 5px, 30px, 5px, 50px;
	LIST-STYLE-POSITION: inside;
	LIST-STYLE-IMAGE: url(../images/list_a.gif);
	border-left: 0px;
}

/* 11픽셀, 왼쪽정렬, 평가 안내 테이틀 적용 */
.Ctype {
	border-top: 2px solid;
	border-color: #c3cad9;
	width: 100%;
	font: 12px dotum;
}
.Ctype TD{
	padding: 7px, 10px, 7px, 12px;
	border-bottom: 1px solid #c3cad9;
	border-left: 1px solid #c3cad9;
}
.Ctype #Tleft{	
	border-left: 0px;
	text-align: left;
}

/* 12픽셀 , 센터정렬, 회원가입 성공 테이틀 적용 */
.Dtype {
	border-top: 2px solid;
	border-color: #c3cad9;
}
.Dtype TD{
	padding: 5px, 7px, 5px, 7px;
	border-bottom: 1px solid #c3cad9;
	border-left: 1px solid #c3cad9;
	text-align: center;
}
.Dtype #Tleft{	
	border-left: 0px;
	text-align: center;
}

/* 12픽셀, 왼쪽정렬, 라운드 테두리의 공지사항 */
.Etype {
	margin-top: 20px;
	background-image: url(../images/bg_notice_admin.gif);	
	background-position: top;
	width: 100%;
}
.Etype TD {
	padding: 20px 30px 10px 30px;
}
.Etype Li{
	list-style: none;
	background-image: url(../images/list.gif);
	background-repeat: no-repeat;
}
.Etype #bt {
	background-image: url(../images/bg_notice_bt_admin.gif);
	height: 10px;
}

/* 12픽셀, 센터정렬, 고사장 자리 배치도 */
.Ftype {
	margin-top: 10px;
	border: 0px;
}
.Ftype TD {
	padding: 5px, 10px, 5px, 10px;
	border: 0px;
}

/* 내용 없음 */
.blank {
	height: 70px;
	vertical-align: middle;
}
