Body { margin: 0px; 
/*scrollbar-face-color: white; scrollbar-shadow-color: #CCC; scrollbar-highlight-color: #CCC; scrollbar-3dlight-color: white; scrollbar-darkshadow-color: white; scrollbar-track-color: white; scrollbar-arrow-color: #CCC;*/ 
	scrollbar-face-color: #f8f8f8; 
	scrollbar-shadow-color: #CCC; 
	scrollbar-highlight-color: #FFF; 
	scrollbar-3dlight-color: #f8f8f8; 
	scrollbar-darkshadow-color: #FFF; 
	scrollbar-track-color: #FCFCFC; 
	scrollbar-arrow-color: #CCC;
}
a:link { color: #158C28; text-decoration: none; font:13px; }
a:visited { color: #158C28; text-decoration: none; font:13px; }
a:active { color: #158C28; text-decoration: none; font:13px; }
a:hover { color: #158C28; text-decoration: none; font:13px; }
hr { border-top: 1px dotted #C4C4C4; border-bottom: 1px solid #FFF; }

.point { color: #158C28; }
.button { margin-top: 20px; }

/* TypeB 02À¯Çü */

.Layout { width: 100%; height: 100%; }

.Layout #Top TD { height: 170px; color: #FFF; }
.Layout #Top #A { background-image: url(../images/TypeB/02/top_left.gif); width: 35px; }
.Layout #Top #B { background-image: url(../images/TypeB/02/top_bg3.gif); vertical-align: top; }
.Layout #Top #B #L { float: left; background-image: url(../images/TypeB/02/top_bg3.gif); LIST-STYLE-IMAGE: url(../images/TypeB/02/list2.gif); }
.Layout #Top #B #L #Logo { background-image: url(../images/TypeB/02/top_logo.gif); width: 250px; vertical-align: top; padding-top: 24px; }
.Layout #Top #B #L #Title { font: bold 13px; vertical-align: top; padding-top: 26px; padding-right: 50px; line-height: 130%; }
.Layout #Top #B #L #Time { font: bold 12px; vertical-align: top; padding-top: 7px; text-align: left;  }
.Layout #Top #B #L #Time #Title{ padding-top: 0px; }
.Layout #Top #B #L #Time #timeLimitHMS { font: bold 16px; text-align: left; padding-left: 0px; letter-spacing: 1px; }
.Layout #Top #B #L #Bg { background-image: url(../images/TypeB/02/top_bg3.gif); display: none; }
.Layout #Top #B #R { float: right; }	
.Layout #Top #C { background-image: url(../images/TypeB/02/top_right.gif); width: 25px; }

.Layout #Main {  }	
.Layout #Main #A { background-image: url(../images/TypeB/02/main_left.gif); }	
.Layout #Main #B { vertical-align: top; padding: 0px 20px 40px 0px; }
.Layout #Main #B #Guide { text-align: center; margin-top: 40px; margin-right: 50px; }	
.Layout #Main #B #Guide #img { vertical-align: bottom; padding-bottom: 40px; }
.Layout #Main #B #Guide #table { width: 600px; font-size: 12px; line-height: 180%; LIST-STYLE-IMAGE: url(../images/TypeB/02/list.gif); }	
.Layout #Main #B #Guide #table #A { background-image: url(../images/TypeB/02/guide.gif); background-position: top; background-repeat: no-repeat; height: 70px; }	
.Layout #Main #B #Guide #table #B { background-image: url(../images/TypeB/02/table_main.gif); padding: 20px 50px 30px 50px; }	
.Layout #Main #B #Guide #table #C { background-image: url(../images/TypeB/02/table_bottom.gif); height: 20px; }	
.Layout #Main #B #Guide #timeWait { font: bold 25px arial; color: #02CA2F; }
.Layout #Main #B #contents #Ltitle { height: 0px; background-image: url(../images/TypeB/02/title_bg.gif); background-repeat: repeat-x; background-position: top; display: none; }	
.Layout #Main #B #contents #Rtitle { padding-left: 20px; display: none; }	
.Layout #Main #B #contents #L { padding: 10px 20px 0px 20px; vertical-align: top; }
.Layout #Main #B #contents #L #Button { text-align: left; padding-right: 5px; }
.Layout #Main #B #contents #reply { width: 180px; padding: 10px 0px 0px 0px; vertical-align: top; }
.Layout #Main #B #contents #reply Table { text-align: center; font: 13px; width: 100%; height: 100%; }
.Layout #Main #B #contents #reply Table #title td { font-weight: bold; border-top: 2px solid green; border-bottom: 1px solid green; }
.Layout #Main #B #contents #reply Table Td { padding: 5px 1px 5px 1px; border-bottom: 1px solid #CCC; }
.Layout #Main #B #contents #reply Table .L { background-color: #FBFBFB; border-right: 1px solid #CCC; width: 50px; }
.Layout #Main #B #test_end	{ text-align: center; margin-top: 60px; margin-right: 50px; }	
.Layout #Main #B #test_end #img { vertical-align: bottom; padding-bottom: 40px; }
.Layout #Main #B #test_end #table { width: 600px; font-size: 12px; line-height: 180%; LIST-STYLE-IMAGE: url(../images/TypeB/02/list.gif); }	
.Layout #Main #B #test_end #table #A { background-image: url(../images/TypeB/02/end.gif); background-position: top; background-repeat: no-repeat; height: 70px; }	
.Layout #Main #B #test_end #table #B { background-image: url(../images/TypeB/02/table_main.gif); padding: 20px 50px 30px 50px; }	
.Layout #Main #B #test_end #table #C { background-image: url(../images/TypeB/02/table_bottom.gif); height: 20px; }
.Layout #Main #B #resubmit { text-align: center; margin-top: 60px;  }	
.Layout #Main #B #resubmit #table { font-size: 12px; line-height: 180%; LIST-STYLE-IMAGE: url(../images/TypeB/02/list.gif); }	
.Layout #Main #B #resubmit #table #A { background-image: none; }	
.Layout #Main #B #resubmit #table #B { padding: 20px 0px 0px 0px; }	
.Layout #Main #C { background-image: url(../images/TypeB/02/main_right.gif); }

.Layout #Bottom { height: 45px; }
.Layout #Bottom #A { background-image: url(../images/TypeB/02/bottom_left.gif); }
.Layout #Bottom #B { background-image: url(../images/TypeB/02/bottom_bg.gif); text-align: right; vertical-align: bottom; padding-bottom: 10px; }
.Layout #Bottom #C { background-image: url(../images/TypeB/02/bottom_right.gif); }