body {
	scrollbar-face-color: #ededea; /*기본색상*/
	scrollbar-highlight-color: #FFFFFF; /*상단 및 좌측 하일라이트*/
	scrollbar-3dlight-color: #f0f0f0; /*상단 및 좌측 색상*/
	scrollbar-shadow-color: #cccdc7; /*하단 및 우측 로우라이트*/
	scrollbar-darkshadow-color: #f0f0f0; /*하단 및 우측 색상*/
	scrollbar-track-color: #fafafa; /*배경색상*/
	scrollbar-arrow-color: #a8a798; /*화살표색상*/
}

body, table, tr, td, div { font: normal 12px gulim, dotum;}
img {
	border: 0px;
	height: 18px;
	vertical-align: text-bottom;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #345373;
}

.tree {
	/*background-color: #f7f7f7;*/
	padding: 0px 5px 0px 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	white-space: nowrap;
	margin-top: 105px;
	margin-left: 27px;
	border: 0px solid #000;
}
.tree img {
	border: 0px;
	height: 18px;
	vertical-align: text-bottom;
}
.tree a {
	color: #000;
	text-decoration: none;
}
.tree a:hover {
	color: #345373;
}

#tree { margin: 0px 0px 0px 13px; font: 12px; width: 220px;  }
#tree #top { height: 7px }
#tree #top #left { background-image: url(../images/tree_top_l.gif); width: 7px; background-repeat: no-repeat; }
#tree #top #center { background-image: url(../images/tree_top_c.gif); }
#tree #top #right { background-image: url(../images/tree_top_r.gif); width: 7px; background-repeat: no-repeat; }
#tree #middle {}
#tree #middle #left { background-image: url(../images/tree_mid_l.gif); width: 7px; }
#tree #middle #center { padding: 10px 10px 20px 10px; background-color: #f7f7f7; }
#tree #middle #right { background-image: url(../images/tree_mid_r.gif); width: 7px; }
#tree #bottom { height: 7px }
#tree #bottom #left { background-image: url(../images/tree_bt_l.gif); width: 7px; background-repeat: no-repeat; }
#tree #bottom #center { background-image: url(../images/tree_bt_c.gif); }
#tree #bottom #right { background-image: url(../images/tree_bt_r.gif); width: 7px; background-repeat: no-repeat; }
